h1 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

button {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  color: map-get($colors, lite);

  @media screen and (max-width: map-get($breakpoints, md)) {
    scale: 0.8;
  }
}

.header__logo a {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 35px;

  @media screen and (max-width: map-get($breakpoints, md)) {
    font-size: 28px;
  }
}

.gradient-text {
  background: map-get($colors, gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  transition: background-position 0.5s;

  &:hover {
    background-position: 100% 0;
  }
}

a {
  font-size: 18px;

  &:visited {
    color: map-get($colors, lite);
  }
}