@mixin font-face($font-family, $font-filename, $weight: normal, $style: normal) {
  @font-face {
    font-family: '#{$font-family}';
    font-style: $style;
    font-weight: $weight;
    src: url('#{$font-filename}.ttf') format('truetype');
  }
}