.primary-btn {
  min-width: 195px;
  width: 195px;
  padding: 21px 25.047px 21px 25px;
  border-radius: 48px;
  border: 1px solid #144EE3;
  background: #144EE3;
  box-shadow: 10px 9px 22px 0 rgba(20, 78, 227, 0.38);
  cursor: pointer;
}

.secondary-btn {
  min-width: 180px;
  width: 180px;
  padding: 21px 25.188px 21px 25px;
  border-radius: 48px;
  border: 1px solid #353C4A;
  background: #181E29;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10);
  cursor: pointer;
}